{
  day: "Вт",
  group: "P3111",
  date: "Tuesday November 11",
  schedule: [
    {
      time: "09:50-11:20",
      type: "Лекция",
      title: "Математический анализ",
      lesson-format: "Очно",
      teacher: "Попов Антон Игоревич",
      address: "Кронверкский пр., д.49, лит. A",
      auditory: "Ауд. 1405"
    },
    {
      time: "11:30-13:00",
      type: "Практика",
      title: "Математический анализ",
      lesson-format: "Очно",
      teacher: "Козачёк Ольга Андреевна",
      address: "Кронверкский пр., д.49, лит. A",
      auditory: "Ауд. 1410"
    },
    {
      time: "13:30-15:00",
      type: "Лекция",
      title: "Линейная алгебра",
      lesson-format: "Очно",
      teacher: "Попов Антон Игоревич",
      address: "Кронверкский пр., д.49, лит. A",
      auditory: "Ауд. 1405"
    },
    {
      time: "13:30-15:00",
      type: "Практика",
      title: "Линейная алгебра",
      lesson-format: "Очно",
      teacher: "Козачёк Ольга Андреевна",
      address: "Кронверкский пр., д.49, лит. A",
      auditory: "Ауд. 1410"
    }
  ]
}